.container{
    width: 100%;
    height: 100%;
    // padding-left:50px; 
    position: relative;
    max-height:800px ;
    max-width: 800px;
    
    .swiperWrapper{
        // overflow-x: hidden;
         display: flex;
        align-items: center;
        margin: 3rem auto 0 0rem;
        column-gap: 3rem;
        
        .imageWrapper{
            border-radius: 30px;
            img{
                border-radius: 30px;
                display: block;
               
            }
        }
    }    
    .leftArrow{
        position: absolute;
        top:50%;
        left: -15%;
        color:#000;
        font-size: 2rem;
        cursor: pointer;
    }

    .rightArrow{
        position: absolute;
        top:50%;
        right: -15%;
        color:#000;
        font-size: 2rem;
        cursor: pointer;
    }
}