.container{
    button{
       padding: 0.8rem 2.2rem;
       margin: 1rem 1rem;
       border-radius: .4rem;
       min-width: 150px;
       font-size: .9rem;
       font-weight: 600;
       cursor: pointer;
    }
}